.main-title {
    font-size: 40px;
    margin-top: 150px;
    margin-left: 70px;
}

.subtitle-links {
    margin-top: 100px;
    margin-left: 70px;
}

.assignment-list {
    margin-top: 105px;
    margin-left: 80px;
}
.space {
    display: flex;
    align-items: flex-start;   /* top-align text and image */
    gap: 24px;                 /* space between text and image */
    padding: 90px 50px 0 50px; /* replace your margins with padding */
}

.space-text {
    flex: 1;
}
.me-image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    margin: 180px 0 0 80px; /*sets margin for all four(top(down), right(left), bottom(up), left(right)) sides*/
}

